<!DOCTYPE html>
<html>
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
      </button>
      <p class="navbar-text">CACI International Inc.</p>
    <!-- </div> -->
    <ul class="nav navbar-nav">
      <li>
        <div class="alert alert-success"><strong>Success!</strong> No failures
        </div>
      </li></ul>
    </div>
  </div>
</nav>    

<div id="section1" class="container-fluid"><br>
  <h1>Site 1 <a href="http://kibana:5601/app/kibana#/dashboard/AWPQhmhwiy0FYVJrp1O1?_g=(refreshInterval%3A('%24%24hashKey'%3A'object%3A529'%2Cdisplay%3A'5%20seconds'%2Cpause%3A!t%2Csection%3A1%2Cvalue%3A5000)%2Ctime%3A(from%3Anow-1h%2Cinterval%3A'1m'%2Cmode%3Aquick%2Ctimezone%3AUTC%2Cto%3Anow))" class="btn btn-info" role="button">Link To Dashboard</a><br>
  </h1>
  <p>Location:</p>
 <br>
  </div>
<div id="section2" class="container-fluid"><br>
  <h1>Site 2 <a href="http://kibana:5601/app/kibana#/dashboard/AWPRGfPUiy0FYVJrqaK2?_g=(refreshInterval%3A('%24%24hashKey'%3A'object%3A529'%2Cdisplay%3A'5%20seconds'%2Cpause%3A!t%2Csection%3A1%2Cvalue%3A5000)%2Ctime%3A(from%3Anow-1h%2Cinterval%3A'1m'%2Cmode%3Aquick%2Ctimezone%3AUTC%2Cto%3Anow))" class="btn btn-info" role="button">Link to Dashboard</a><br>
  </h1>
  <p>Location:</p>
  <br>
</div>
<div id="section3" class="container-fluid"><br>
  <h1>Site 3 <a href="#" class="btn btn-info" role="button">Link to Dashboard</a>
  </h1>
  <p>Location:</p>
  </div>
<div id="section4" class="container-fluid"><br>
  <h1>Site 4 <a href="#" class="btn btn-info" role="button">Link to Dashboard</a>
  </h1>
  <p>Location:</p></div>
</body>  
</html>