body {
    position: relative; 
}
#section1 {padding-top:20px;padding-left:100px;height:810px;color: #fff; background-color: #1E88E5;}
#section2 {padding-top:20px;padding-left:100px;height:810px;color: #fff; background-color: #673ab7;}
#section3 {padding-top:20px;padding-left:100px;height:810px;color: #fff; background-color: #ff9800;}
#section4 {padding-top:20px;padding-left:100px;height:810px;color: #fff; background-color: #00bcd4;}

.alert {
    width: 200px;
    margin: auto;
    padding: 5px;
    position: relative;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav {
    color: #fff;
    padding-top: 10px;
}

.navbar {
    font-size: 15px;
}

p {
    color:white;
}